{% extends 'layout.twig' %}
{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date">
                <time datetime=" "></time>
            </div>
            <header>
                <h2><a href="/ejercicios/bbdd/symblog/blogs/show?id={{blog.id}}">{{blog.title}}</a></h2>
            </header>
            <img src="img/{{blog.image}}.jpg"/>
            <div class="snippet">
                <p>{{blog.blog}}</p>
                <p class="continue"><a href="#">Continue reading...</a></p>
            </div>
            <footer class="meta">
                <p>Comments: <a href="#">{{blog.comments|length}}</a></p>
                <p>Posted by <span class="highlight">{{blog.author}}</span> at {{blog.created_at|date('h:iA')}}</p>
                <p>Tags: <span class="highlight">{{blog.tags}}</span></p>
            </footer>
        </article>
    {% else %}
        <p>There are no blog entries for symblog</p>
    {% endfor %}
{% endblock %}